# Assignment for Lovekesh Bansal and Anuja Srivastava

# Importing the libraries needed

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
import sklearn
from sklearn.model_selection import train_test_split
import pandas as pd

%matplotlib inline

Importing the dataset

In the following cells it will be converted to datasets that will be required by the model

I am splitting the dataset into 3 categories:
-Train
-Validate
-Test

In [2]:
print("working on it")
df = pd.read_csv("Crimes_-_2001_to_present.csv")
# data = np.genfromtxt('Crimes_-_2001_to_present.csv', delimiter=',')
print("done")


# 1:28 PM - trigger time

working on it
done

In [3]:
df.shape

(6721685, 22)

In [4]:
df_dropped_na = df
    
df_dropped_na.replace('?', np.nan, inplace=True)

df_dropped_na.dropna(inplace=True)

In [5]:
df_dropped_na.shape

(6051694, 22)

# Reduce the dataset to 100000

This is done because the machine was taking a lot of time. The time at the end is corresponding to this reduced dataset.

In [6]:
size_data = 100000

In [7]:
df_10000 = df_dropped_na.iloc[:size_data]

In [8]:
df_10000.shape

(100000, 22)

In [9]:
df_10000.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10000092,HY189866,03/18/2015 07:44:00 PM,047XX W OHIO ST,041A,BATTERY,AGGRAVATED: HANDGUN,STREET,False,False,...,28.0,25.0,04B,1144606.0,1903566.0,2015,02/10/2018 03:50:01 PM,41.891399,-87.744385,"(41.891398861, -87.744384567)"
1,10000094,HY190059,03/18/2015 11:00:00 PM,066XX S MARSHFIELD AVE,4625,OTHER OFFENSE,PAROLE VIOLATION,STREET,True,False,...,15.0,67.0,26,1166468.0,1860715.0,2015,02/10/2018 03:50:01 PM,41.773372,-87.665319,"(41.773371528, -87.665319468)"
2,10000095,HY190052,03/18/2015 10:45:00 PM,044XX S LAKE PARK AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,...,4.0,39.0,08B,1185075.0,1875622.0,2015,02/10/2018 03:50:01 PM,41.813861,-87.596643,"(41.81386068, -87.596642837)"
3,10000096,HY190054,03/18/2015 10:30:00 PM,051XX S MICHIGAN AVE,0460,BATTERY,SIMPLE,APARTMENT,False,False,...,3.0,40.0,08B,1178033.0,1870804.0,2015,02/10/2018 03:50:01 PM,41.800802,-87.622619,"(41.800802415, -87.622619343)"
4,10000097,HY189976,03/18/2015 09:00:00 PM,047XX W ADAMS ST,031A,ROBBERY,ARMED: HANDGUN,SIDEWALK,False,False,...,28.0,25.0,03,1144920.0,1898709.0,2015,02/10/2018 03:50:01 PM,41.878065,-87.743354,"(41.878064761, -87.743354013)"

# Select the columns to work upon

We read the site and found that 2 columns will be sufficient to predict Primary Type.

In [10]:
work_data_df = df_10000.iloc[:,4:7]

In [11]:
work_data_df.head()

   IUCR   Primary Type              Description
0  041A        BATTERY      AGGRAVATED: HANDGUN
1  4625  OTHER OFFENSE         PAROLE VIOLATION
2  0486        BATTERY  DOMESTIC BATTERY SIMPLE
3  0460        BATTERY                   SIMPLE
4  031A        ROBBERY           ARMED: HANDGUN

In [12]:
work_data_df.groupby('Primary Type')['IUCR'].nunique()

Primary Type
ARSON                                 5
ASSAULT                              15
BATTERY                              25
BURGLARY                              4
CONCEALED CARRY LICENSE VIOLATION     3
CRIM SEXUAL ASSAULT                  10
CRIMINAL DAMAGE                       8
CRIMINAL TRESPASS                     5
DECEPTIVE PRACTICE                   28
GAMBLING                              4
HOMICIDE                              2
HUMAN TRAFFICKING                     2
INTERFERENCE WITH PUBLIC OFFICER      7
INTIMIDATION                          2
KIDNAPPING                            6
LIQUOR LAW VIOLATION                  5
MOTOR VEHICLE THEFT                   9
NARCOTICS                            38
NON - CRIMINAL                        1
NON-CRIMINAL                          1
OBSCENITY                             3
OFFENSE INVOLVING CHILDREN           14
OTHER NARCOTIC VIOLATION              1
OTHER OFFENSE                        33
PROSTITUTION                         10
PUBLIC INDECENCY                      1
PUBLIC PEACE VIOLATION               10
ROBBERY                              14
SEX OFFENSE                          10
STALKING                              4
THEFT                                12
WEAPONS VIOLATION                    11
Name: IUCR, dtype: int64

In [13]:
# work_data_df['Primary Type']=pd.factorize(work_data_df['Primary Type'])[0] + 1

In [14]:
# print("Working on it...")
# work_data_df_wth_dummy=pd.get_dummies(work_data_df,columns=['IUCR','Description'])
# print("Done!!!")

In [15]:
# work_data_df['Description']=pd.factorize(work_data_df['Description'])[0] + 1
# work_data_df['IUCR']=pd.factorize(work_data_df['IUCR'])[0] + 1
# work_data_df['Primary Type']=pd.factorize(work_data_df['Primary Type'])[0] + 1

In [16]:
# work_data_df_wth_dummy.head()

In [17]:
X_work_data_df = work_data_df.iloc[:,[0,2]]

In [18]:
X_work_data_df.head()

   IUCR              Description
0  041A      AGGRAVATED: HANDGUN
1  4625         PAROLE VIOLATION
2  0486  DOMESTIC BATTERY SIMPLE
3  0460                   SIMPLE
4  031A           ARMED: HANDGUN

We are converting our dataset into dummies for better prediction

In [19]:
X_work_data_df_wth_dummy = pd.get_dummies(X_work_data_df)

In [20]:
X_work_data_df_wth_dummy.head()

,IUCR_0110,IUCR_0142,IUCR_0261,IUCR_0263,IUCR_0264,IUCR_0265,IUCR_0266,IUCR_0271,IUCR_0273,IUCR_0275,...,Description_VEHICLE TITLE/REG OFFENSE,Description_VEHICULAR HIJACKING,Description_VIO BAIL BOND: DOM VIOLENCE,Description_VIOLATE ORDER OF PROTECTION,Description_VIOLATION GPS MONITORING DEVICE,Description_VIOLATION OF CIVIL NO CONTACT ORDER,Description_VIOLATION OF STALKING NO CONTACT ORDER,Description_VIOLENT OFFENDER: ANNUAL REGISTRATION,Description_VIOLENT OFFENDER: DUTY TO REGISTER,Description_VIOLENT OFFENDER: FAIL TO REGISTER NEW ADDRESS
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
Y_work_data_df = work_data_df.iloc[:,1]

In [22]:
Y_work_data_df.head()

0          BATTERY
1    OTHER OFFENSE
2          BATTERY
3          BATTERY
4          ROBBERY
Name: Primary Type, dtype: object

In [23]:
Y_work_data_df_wth_dummy = pd.get_dummies(Y_work_data_df)

In [24]:
Y_work_data_df_wth_dummy.head()

,ARSON,ASSAULT,BATTERY,BURGLARY,CONCEALED CARRY LICENSE VIOLATION,CRIM SEXUAL ASSAULT,CRIMINAL DAMAGE,CRIMINAL TRESPASS,DECEPTIVE PRACTICE,GAMBLING,...,OTHER NARCOTIC VIOLATION,OTHER OFFENSE,PROSTITUTION,PUBLIC INDECENCY,PUBLIC PEACE VIOLATION,ROBBERY,SEX OFFENSE,STALKING,THEFT,WEAPONS VIOLATION
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [25]:
X = X_work_data_df_wth_dummy.values
X = X.astype(np.float32)
# X_tensor = tf.convert_to_tensor(X, dtype=tf.float32)

In [26]:
# type(X_tensor)

In [27]:
X.shape

(100000, 586)

In [28]:
Y = Y_work_data_df_wth_dummy.values
Y = Y.astype(np.float32)
# Y_tensor = tf.convert_to_tensor(Y, dtype=tf.float32)

In [29]:
Y.shape

(100000, 32)

In [30]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

SPLIT into 3 categories

In [31]:
x_train, x_validate, y_train, y_validate = train_test_split(x_train, y_train, test_size=0.1)

In [32]:
print ("x_train shape: " + str(x_train.shape))
print ("y_train shape: " + str(y_train.shape))
print ("x_test shape: " + str(x_test.shape))
print ("y_test shape: " + str(y_test.shape))
print ("x_validate shape: " + str(x_validate.shape))
print ("y_validate shape: " + str(y_validate.shape))

x_train shape: (72000, 586)
y_train shape: (72000, 32)
x_test shape: (20000, 586)
y_test shape: (20000, 32)
x_validate shape: (8000, 586)
y_validate shape: (8000, 32)

In [33]:
type(x_validate)

numpy.ndarray

In [34]:
x_train.shape[1]

586

In [35]:
y_train.shape[1]

32

In [36]:
# train_dataset_tf = tf.data.Dataset.from_tensors((x_train, y_train))
# train_dataset_tf = tf.data.Dataset.((x_train, y_train))
# train_dataset_tf

In [37]:
# type(train_dataset_tf)

In [38]:
# train_dataset_tf.

In [39]:
# type(tf.train.batch([x_train, y_train], batch_size=batch_size, enqueue_many=True))

In [40]:
# >>> images = tf.constant(X, dtype=tf.float32) # X is a np.array
# >>> labels = tf.constant(y, dtype=tf.int32)   # y is a np.array
# >>> batch_images, batch_labels = tf.train.batch([images, labels], batch_size=32, capacity=300, enqueue_many=True)

In Below cell we are defining the input data, how it will be used, weights and bias and the mathematical operations that will give the output layer which is the prediction function

In [41]:
graph = tf.Graph()
with graph.as_default():
    
    # variables
    batch_size = 128
    beta = 0.001
    # image_size = 28
    x_size = x_train.shape[1]
    num_labels = y_train.shape[1]
    
    # input data. For training placeholder is required
    ##tf_train_dataset = tf.placeholder(tf.float32, shape=(batch_size, x_size))
    ##tf_train_labels = tf.placeholder(tf.float32, shape=(batch_size, num_labels))
    tf_train_dataset = tf.placeholder(tf.float32, shape=(x_train.shape[0], x_size))
    tf_train_labels = tf.placeholder(tf.float32, shape=(x_train.shape[0], num_labels))
    tf_valid_dataset = tf.constant(x_validate)
    tf_test_dataset = tf.constant(x_test)
    
    # weight and biases required for computation
    w_logit = tf.Variable(tf.truncated_normal([x_size,num_labels]))
    b_logit = tf.Variable(tf.zeros([num_labels]))
    
    
    def model(data):
        return tf.matmul(data, w_logit) + b_logit # returns the output layer
    
    
    # training computations
    logits = model(tf_train_dataset)
    loss = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits(logits=logits, labels=tf_train_labels))
    regularized_loss = tf.nn.l2_loss(w_logit)
    total_loss = loss + beta * regularized_loss
    
    
    # Optimizer
    optimizer = tf.train.GradientDescentOptimizer(0.5).minimize(total_loss)
    
    
    # Prediction for Training, Validation, Test
    train_prediction = tf.nn.softmax(logits)
    valid_prediction = tf.nn.softmax(model(tf_valid_dataset))
    test_prediction = tf.nn.softmax(model(tf_test_dataset))

WARNING:tensorflow:From <ipython-input-41-49939e12a9ff>:30: softmax_cross_entropy_with_logits (from tensorflow.python.ops.nn_ops) is deprecated and will be removed in a future version.
Instructions for updating:

Future major versions of TensorFlow will allow gradients to flow
into the labels input on backprop by default.

See @{tf.nn.softmax_cross_entropy_with_logits_v2}.

Below cell is used to calculate the accuracy

In [42]:
def accuracy(predictions, labels):
    return (100.0 * np.sum(np.argmax(predictions, 1) == np.argmax(labels, 1))/predictions.shape[0])

Below cell is the model and the number of times the model will be executed is 5000. Accuracy after every 500 iterations is also displayed and we can see the change

Final accuracy displayed is after the full model is trained and comparison of y_pred with respect to y_test

In [43]:
import time

In [44]:
t0 = time.clock()

num_steps = 5001

with tf.Session(graph=graph) as session:
    tf.initialize_all_variables().run()
    print("Initialized")
    for step in range(num_steps):
        
        # Generate a mini batch
        ##batch_data, batch_labels = train_dataset_tf.next_batch(batch_size)
        ##batch_data, batch_labels = tf.train.batch([x_train, y_train], batch_size=batch_size, enqueue_many=True)
        batch_data, batch_labels = x_train, y_train
        
        # dictionary with variables required traversing the graph
        feed_dict = {tf_train_dataset : batch_data, tf_train_labels : batch_labels}
        
        _, l, predictions = session.run([optimizer, loss, train_prediction], feed_dict=feed_dict)
        
        if (step % 500 == 0):
            print("Minibatch loss at step %d: %f" % (step, l))
            print("Minibatch accuracy: %.1f%%" % accuracy(predictions, batch_labels))
            print("Validation accuracy: %.1f%%" % accuracy(valid_prediction.eval(), y_validate))
    print("Test accuracy: %.1f%%" % accuracy(test_prediction.eval(), y_test))

t1 = time.clock()

total = (t1-t0)/60
print("Time to run = "+str(total) +" minutes")

WARNING:tensorflow:From /home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/tensorflow/python/util/tf_should_use.py:118: initialize_all_variables (from tensorflow.python.ops.variables) is deprecated and will be removed after 2017-03-02.
Instructions for updating:
Use `tf.global_variables_initializer` instead.
Initialized
Minibatch loss at step 0: 4.011883
Minibatch accuracy: 1.0%
Validation accuracy: 1.2%
Minibatch loss at step 500: 0.612696
Minibatch accuracy: 87.6%
Validation accuracy: 87.7%
Minibatch loss at step 1000: 0.428692
Minibatch accuracy: 93.0%
Validation accuracy: 93.0%
Minibatch loss at step 1500: 0.362346
Minibatch accuracy: 95.2%
Validation accuracy: 95.1%
Minibatch loss at step 2000: 0.330573
Minibatch accuracy: 96.0%
Validation accuracy: 95.8%
Minibatch loss at step 2500: 0.313340
Minibatch accuracy: 96.4%
Validation accuracy: 96.2%
Minibatch loss at step 3000: 0.303252
Minibatch accuracy: 96.5%
Validation accuracy: 96.4%
Minibatch loss at step 3500: 0.297028
Minibatch accuracy: 96.6%
Validation accuracy: 96.5%
Minibatch loss at step 4000: 0.293029
Minibatch accuracy: 97.2%
Validation accuracy: 97.1%
Minibatch loss at step 4500: 0.290387
Minibatch accuracy: 97.4%
Validation accuracy: 97.3%
Minibatch loss at step 5000: 0.288602
Minibatch accuracy: 97.4%
Validation accuracy: 97.3%
Test accuracy: 97.4%
Time to run = 54.352333333333334 minutes

The Time is for Hundred Thousand records and not the whole dataset as it was talking huge amount of time and my system was crashing

Time to run on Local Machine: 14.6 minutes

It was strange that my machine was faster.
Machine configuration: Windows 10, Intel I5 processor, 8GB RAM